# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

#   Micro-controller Architecture (STMicroelectronics STM32)  --->
#   Processor model (STM32F103)  --->
#   Bootloader offset (28KiB bootloader)  --->
#   Clock Reference (8 MHz crystal)  --->
#   Communication interface (USB (on PA11/PA12))  --->
#   USB ids  --->
#   [ ] Specify a custom step pulse duration
#   (!PA14) GPIO pins to set at micro-controller startup

[include client.cfg]
[include client_macros.cfg]

[include macros/*.cfg]

[include configs/displays.cfg]
[include configs/extruder.cfg]
[include configs/fans.cfg]
[include configs/heaters.cfg]
[include configs/leds.cfg]
[include configs/main_printer.cfg]
[include configs/probe.cfg]
[include configs/resonance.cfg]
[include configs/sample-glyphs.cfg]
[include configs/steppers.cfg]
[include configs/temperature.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 57.477
#*# pid_ki = 0.848
#*# pid_kd = 974.227
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.720
#*# pid_ki = 0.752
#*# pid_kd = 104.328
#*#
#*# [probe]
#*# z_offset = 2.000