[gcode_macro PARK_FRONT_LOW]
description: Park head front low
gcode:
    ##### Get printer defines #####
    {% set min_y = printer.toolhead.axis_minimum.y|float %}
    ##### Get user defines #####
    {% set park_x = printer['gcode_macro _USER_VARIABLE'].center_x %}
    {% set park_z = printer['gcode_macro _USER_VARIABLE'].z_min_delta %}
    {% set boarder_delta = printer['gcode_macro _USER_VARIABLE'].boarder_delta|float %}
    ##### calc park pos #####
    {% set park_y = min_y + boarder_delta %}
    
    {% if printer['gcode_macro _USER_VARIABLE'].debug == 1 %}
        {action_respond_info('==== PARK_FRONT_LOW ====')}
        {action_respond_info("min_y: %s" % (min_y))}
        {action_respond_info("park_x: %s" % (park_x))}
        {action_respond_info("park_z: %s" % (park_z))}
        {action_respond_info("boarder_delta: %s" % (boarder_delta))}
        {action_respond_info("park_y: %s" % (park_y))}
        {action_respond_info('===============')}
    {% endif %}
    
    SAVE_GCODE_STATE NAME=STATE_PARK_FRONT_LOW
    _CG28 ; home if not already homed
    G90   ; absolute positioning
    G0 X{park_x} Y{park_y} Z{park_z} F18000
    RESTORE_GCODE_STATE NAME=STATE_PARK_FRONT_LOW
