[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# default_parameter_X: 230    #edit to your park position
# default_parameter_Y: 230    #edit to your park position
default_parameter_Z: 10     #edit to your park position
gcode:
  {% set E = printer["gcode_macro printer_vars"].e_retract %}
  {% set x_park = printer.toolhead.axis_maximum.x|float - 10.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 10.0 %}

  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  {% if printer.extruder.temperature > 180 %}
    G1 E-{E} F2100
  {% endif %} 
  G1 Z{Z}
  G90
  G1 X{x_park} Y{y_park} F6000

# [gcode_macro PAUSE]
# rename_existing: BASE_PAUSE
# variable_extrude: 1.0 # change this if you need more or less extrusion
# gcode:
#   {% set E = printer["gcode_macro printer_vars"].e_retract %}
#   ##### set park positon for x and y #####
#   # default is your max posion from your printer.cfg
#   {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
#   {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
#   ##### calculate save lift position #####
#   {% set max_z = printer.toolhead.axis_maximum.z|float %}
#   {% set act_z = printer.toolhead.position.z|float %}
#   {% if act_z < (max_z - 2.0) %}
#       {% set z_safe = 2.0 %}
#   {% else %}
#       {% set z_safe = max_z - act_z %}
#   {% endif %}
#   ##### end of definitions #####
#   SAVE_GCODE_STATE NAME=PAUSE_state
#   BASE_PAUSE
#   G91
#   G1 E-{E} F2100
#   G1 Z{z_safe} F900
#   G90
#   G1 X{x_park} Y{y_park} F6000